<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/location.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/images/icon.jpeg">
    <title>Artists</title>
    <script src="/static/script/form.js" defer></script>
</head>
<body>
    {{define "ExtraItem"}} 
        <img src="/static/images/filtre.jpg" alt=""  class="filter-icon" onclick="toggleDiv()" >
    {{end}}
    {{template "navbar"}}
    
    {{template "form"}}  <!--Appel de la page contenant le formulaire-->
    <div class="title">
            <h1>ARTISTS</h1>
        </div> 
    <div class="container">
        
        {{range .Artists}}
        <div class="artist-item">
           <a href="/artist-details?Id={{.Aid}}">
               <img class="circle-image" src="{{.AImg}}" alt="">
               <h3>{{.Aname}}</h3>
           </a> 
        </div>   
        {{end}}
    </div>
</body>
</html>
