<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/location.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/script/form.js" defer></script>
    <title>Filter</title>
</head>
<body>
    <nav>
        <ul>
            <div>
                <li><a href="/">Home</a></li>
                <li><a href="/artists">Artists</a></li>
                <li><a href="/locations">Locations</a></li>
                <li><a href="/dates">Dates</a></li>
            </div>
                <img src="/static/images/filtre.jpg" alt=""  class="filter-icon" onclick="toggleDiv()" >
        </ul>
    </nav>
    <div id="filter">
        <h2>Filter by</h2>
        <form action="/filter">
            <div class="creation-filter">
                <input type="checkbox" name="creationdate" onchange="toggleFields()" >
                <label for="creationdate">Creation Date</label>
                <input type="number" name="datdebut" placeholder="From" min="1962" max="2015" value="1962" disabled>
                <input type="number" name="datfin" placeholder="To" min="1962" max="2015" value="2015" disabled required>
            </div>
            <div class="first-album">
                <input type="checkbox" name="firstalbum" onchange="toggleFields()">
                <label for="firstalbum">First album</label>
                <input type="date" name="debutalbum"  min="1963-07-31" max="2018-11-15" value="1963-07-31"  disabled>
                <input type="date" name="finalalbum" min="1963-07-31"  max="2018-11-15" value="2018-11-15" disabled required>
            </div>
            <div class="members">
                <input type="checkbox" name="members" onchange="toggleFields()">
                <label for="members">Members</label>
                    <div class="range-slider">
                    <span class="range-selected"></span><br>
                    </div>
                    <div class="range-input">
                        <input type="range" id="member1" class="slider1" name="member1" min="1" max="8" value="1" step="1" disabled>
                        <input type="range" id="member2" class="slider2" name="member2" min="1" max="8" value="8" step="1" disabled>  
                    </div>
                    <div class="range-price">
                        <label for="member1">
                        <span id="valeurAffichee1" data-value="1">1</span>
                        </label>
                        <label for="member2">
                        <span id="valeurAffichee2" data-value="8">8</span>
                        </label>
                    </div>
                    
            </div> 
            <div class="locations">
                <input type="checkbox" name="location" onchange="toggleFields()">
                <label for="location">Concert location</label>
                <select name="loc" disabled>
                {{range .FilterLoc}}<option value="{{.}}"> {{.}}</option>{{end}}
                </select>
            </div>
            <input type="submit" name="enter" value="Filter" class="filter-btn">
        </form>
    </div>
    <div class="container">    
        {{range .Art}}
        <div class="artist-item">
           <a href="/artist-details?Id={{.Aid}}">
               <img class="circle-image" src="{{.AImg}}" alt="">
               <h3>{{.Aname}}</h3>
           </a> 
        </div>   
        {{end}}
    </div>
   
</body>
</html>